[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
numpy = "*"
pandas = "*"
scikit-learn = "*"
scipy = "*"
statsmodels = "*"
requests = "*"
pywavelets = "*"
boto3 = "*"
plotly = "*"
nbformat = "*"
cython = "*"
ripser = "*"
persim = "*"
ipython = "*"
mat73 = "*"
pickle5 = "*"
pysindy = "*"
tensorflow = "*"
tensorflow-macos = "*"
tqdm = "*"
yfinance = "*"
umap = "*"
kmapper = "*"
teaspoon = "*"
umap-learn = "*"
keras = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
